---
import translations from '../i18n/translations.json';

const locale = Astro.currentLocale;
const t = translations[locale];

const currentYear = (new Date()).getFullYear();
---

<footer class="bg-muted border-t">
  <div class="container px-4 lg:px-6 py-6 flex flex-col lg:flex-row items-center justify-between gap-8 lg:gap-4">
    <small class="text-sm text-muted-foreground">
      &copy; {currentYear} vanGamo blog. {t['footer.copy.AllRights']}
    </small>
    <nav class="flex flex-col lg:flex-row items-center gap-2 lg:gap-4">
      <a href="#" class="text-sm hover:underline"> {t['menu.item.Terms']} </a>
      <a href="#" class="text-sm hover:underline"> {t['menu.item.Privacy']} </a>
      <a href="#" class="text-sm hover:underline"> {t['menu.item.Contact']} </a>
    </nav>
  </div>
</footer>
