---
import { getAbsoluteLocaleUrl } from 'astro:i18n';
import translations from '../i18n/translations.json';
import Logo from '../images/logo-28.webp';

const { slug } = Astro.props;
const locale = Astro.currentLocale;
const t = translations[locale];
---

<header class="bg-background border-b">
  <div
    class="container px-4 md:px-6 py-4 flex flex-col md:flex-row items-start md:items-center justify-between gap-4"
  >
    <a href={getAbsoluteLocaleUrl(locale, '/')} class="flex items-center gap-2">
      <img
        class="w-7 h-7"
        width="28"
        height="28"
        src={Logo.src}
        alt="Blog logo showing v and G letters"
      />
      <h1 class="text-xl font-bold">vanGamo blog</h1>
      <small class="hidden md:inline">{locale}</small>
    </a>
    <nav class="flex justify-center items-center gap-4 w-full md:w-auto">
      <a
        href={getAbsoluteLocaleUrl(locale, '/')}
        class={(slug === '/' ? '' : 'underline ') +
          'text-sm font-medium hover:underline'}
      >
        {t['menu.item.Home']}
      </a>
      <a
        href={getAbsoluteLocaleUrl(locale, '/blog/')}
        class={(slug.startsWith('/blog') ||
        slug.startsWith('/posts') ||
        slug.startsWith('/links')
          ? ''
          : 'underline ') + 'text-sm font-medium hover:underline'}
      >
        {t['menu.item.Blog']}
      </a>
      <a
        href={getAbsoluteLocaleUrl(locale, '/about/')}
        class={(slug.startsWith('/about') ? '' : 'underline ') +
          'text-sm font-medium hover:underline'}
      >
        {t['menu.item.About']}
      </a>
      <a
        href={getAbsoluteLocaleUrl(locale, '/about/')}
        class={(slug.startsWith('/contact') ? '' : 'underline ') +
          'text-sm font-medium hover:underline'}
      >
        {t['menu.item.Contact']}
      </a>
      <p class="text-sm">
        <a
          href={getAbsoluteLocaleUrl('es', '/')}
          class={(locale === 'es' ? 'font-semibold ' : 'underline ') +
            'text-sm font-medium hover:underline'}>ES</a
        >/<a
          href={getAbsoluteLocaleUrl('en', '/')}
          class={(locale === 'en' ? 'font-semibold ' : 'underline ') +
            'text-sm font-medium hover:underline'}>EN</a
        >
      </p>
    </nav>
  </div>
</header>
