---
const { lang, slug } = Astro.props;

const pathPrefix = lang==='es'?'':'/'+lang;
---

<header class="bg-background border-b">
  <div class="container px-4 md:px-6 py-4 flex items-center justify-between">
    <a href={pathPrefix+"/"} class="flex items-center gap-2">
      {/* <MountainIcon class="w-6 h-6" /> */}
      <span class="text-xl font-bold">vanGamo blog</span>
    </a>
    <nav class="hidden md:flex items-center gap-4">
      <a href={pathPrefix+"/"} class={(slug==='/'?'':'underline ')+"text-sm font-medium hover:underline"}> Home </a>
      <a href={pathPrefix+"/about/"} class={(slug.startsWith('/posts')?'':'underline ')+"text-sm font-medium hover:underline"}> Blog </a>
      <a href={pathPrefix+"/about/"} class={(slug.startsWith('/about')?'':'underline ')+"text-sm font-medium hover:underline"}> About </a>
      <a href={pathPrefix+"/about/"} class={(slug.startsWith('/contact')?'':'underline ')+"text-sm font-medium hover:underline"}>
        Contact
      </a>
      <p class="text-sm">
        <a href="/" class={(lang==='es'?'font-semibold ':'underline ')+"text-sm font-medium hover:underline"}>ES</a>/<a href="/en/" class={(lang==='en'?'font-semibold ':'underline ')+"text-sm font-medium hover:underline"}>EN</a>
      </p>
    </nav>
  </div>
</header>
