---
import translations from '../i18n/translations.json';

const locale = Astro.currentLocale;
const t = translations[locale];
---

<div class="grid gap-4 mt-4">
  <h2 class="text-2xl font-bold">{t['sidebar.Categories']}</h2>
  <div class="grid gap-2">
    <a href="#" class="text-sm font-medium hover:underline"> {"Category"} </a>
  </div>
</div>
<div class="grid gap-4">
  <h2 class="text-2xl font-bold">{t['sidebar.Tags']}</h2>
  <div class="flex flex-wrap gap-2">

      <a
      href={"tag"}
      class="inline-flex items-center gap-2 rounded-full bg-muted/20 px-3 py-1 text-sm font-medium hover:bg-muted/30"
    >
      {"tag"}
    </a>

    <!--
    <a
      href="#"
      class="inline-flex items-center gap-2 rounded-full bg-muted/20 px-3 py-1 text-sm font-medium hover:bg-muted/30"
    >
      React
    </a>
    <a
      href="#"
      class="inline-flex items-center gap-2 rounded-full bg-muted/20 px-3 py-1 text-sm font-medium hover:bg-muted/30"
    >
      CSS
    </a>
    <a
      href="#"
      class="inline-flex items-center gap-2 rounded-full bg-muted/20 px-3 py-1 text-sm font-medium hover:bg-muted/30"
    >
      JavaScript
    </a>
    <a
      href="#"
      class="inline-flex items-center gap-2 rounded-full bg-muted/20 px-3 py-1 text-sm font-medium hover:bg-muted/30"
    >
      Figma
    </a>
    <a
      href="#"
      class="inline-flex items-center gap-2 rounded-full bg-muted/20 px-3 py-1 text-sm font-medium hover:bg-muted/30"
    >
      Productivity
    </a>
  -->
  </div>
</div>
<div class="grid gap-4">
  <h2 class="text-2xl font-bold">{t['sidebar.Search']}</h2>
  <div class="relative">
    <div class="absolute left-2.5 top-2.5 h-4 w-4 text-muted-foreground"></div>
    <input
      class="flex h-10 border border-input px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full rounded-lg bg-background pl-8"
      placeholder={t['sidebar.Search.placeholder']}
      data-id="99"
      type="search"
    />
  </div>
</div>
